<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1> Главная страница</h1>
<h3>Товары:</h3>
<a href="{% url 'new_good' %}">
    <button>Добавить товар</button>
</a>
{% for item in goods %}
   <div class="item">
    <p>Наименование товара - {{ item.name }}</p>
    <p>Остаток на складе  - {{ item.quantity}}</p>
    <p>{{ item.description }}</p>
       <br>
   </div>
{% endfor %}
</body>
</html>