{% extends 'base.html' %}
{% load static %}


{% block title %}
    <title>Главная</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{%  block content %}
    <div class="container">
            <h1> Главная страница</h1>

        <h3>Товары:</h3>
{#        <a href="{% url 'new_good' %}">#}
{#            <button>Добавить товар</button>#}
{#        </a>#}

        <a class="popup-open" href="#">Добавить новый товар</a>

        <div class="popup-fade">
            <div class="popup">
                <a class="popup-close" href="#">Закрыть</a>
                <h3>Добавление товара</h3>

                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Отправить">
                </form>
            </div>
        </div>


        <div class="row"  id="test"></div>

{#        <div class="row">#}
{#            {% for item in goods %}#}
{#           <div class="item col-4">#}
{#            <p>Наименование товара - {{ item.name }}</p>#}
{#            <p>Остаток на складе  - {{ item.quantity}}</p>#}
{#            <p>{{ item.description }}</p>#}
{#               <br>#}
{#           </div>#}
{#        {% endfor %}#}
{#        </div>#}

    </div>


{% endblock %}

{% block js %}
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}